{
    "Hosts":  
    [
        {
            "Name": "localhost",
            "Configurations": 
            [
                "ServerDetails",
                "HostInstances",
                "Applications",
                "ServiceInstances",
                "ReceiveLocations",
                "SendPorts"
            ]
        }
    ]
}